<div class="container custom-container">
  <div class="example-container">
    <h3 class="mb-3 text-center">Create Employee</h3>
    <mat-form-field>
      <input matInput [(ngModel)]="employeeDetails.name" placeholder="Name">
    </mat-form-field>

   <mat-form-field>
     <input matInput [(ngModel)]="employeeDetails.email" placeholder="Email">
   </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="employeeDetails.phone" placeholder="Phone">
    </mat-form-field>
    <button mat-button (click)="addEmployee()">Create Employee</button>
  </div> 
</div>